.hidden {
    display: none;
}

body {
    height: 100%;
    width: 75%;
    font-family: serif;
    background-color: rgb(160, 224, 160)
}

.computer-player-section {
    text-align: center;
    height: 100%;
    width: 24%;
    position: fixed;
    top: 0;
    right: 0;
    border-left: solid;
    display: flex;
    flex-direction:column;
    font-size: 30px;    
    align-items: center;
}

main {
    text-align: center;
    height: 100%;
    width: 24%;
    position: fixed;
    top: 0;
    left: 38%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;

}
.me-player-section {
    text-align: center;
    height: 100%;
    width: 24%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: solid;
    display: flex;
    flex-direction: column;
    font-size: 30px;  
    align-items: center;  
}

  .rock-paper-scissors {
    font-size: 50px;
}

  .buttons {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-top: 75px;
        display:flex;
        justify-content: column;
 }
  #classic {
    height: 70px;
    width: 120px;
    color: white;
    background-color:black;
    font-size: 20px;
    border-radius: 12px;
}
  #difficult {
    height: 70px;
    width: 120px;
    color: white;
    background-color:black;
    font-size: 20px;
    border-radius: 12px;
  }
  #change-game {
    height: 70px;
    width: 120px;
    color: white;
    background-color:black;
    font-size: 20px;
    border-radius: 12px;
  }

  .game-board {
    height: 420px;
    width: 420px;
    margin-top: 25px;
    display: flex;
  }
  .anime-icon {
    height: 250px;
    width: 250px;
   
  }
  .robot-icon {
    height: 250px;
    width: 250px;
    
    
  }
  .rock-icon {
    height: 160px;
    width: 160px;
   
  }
  .scissors-icon {
    height: 160px;
    width: 160px;
  
  }
  .paper-icon {
    height: 160px;
    width: 160px;
  
  }
  .raygun-icon {
    height: 160px;
    width: 160px;
    margin-top: 200px;
    margin-left: -421px;

  }
  .lightsaber-icon {
    height: 160px;
    width: 160px;
    margin-top: 200px;
    margin-left: 0px;
  
  }

  .human-score {
    font-size: 250px;
  }
  .computer-score {
    font-size: 250px;
  }

  .instruction-view {
    height: 100 px;
    width: 500px;
    font-size: 30px;
 }

 #selection {
    color: rgb(72, 78, 193);
    margin-top: 50px;
 }
 #human-choice {
    height: 160px;
    width: 160px;
    margin-left: -170px; 
    margin-top: 16%;
    position: fixed;
    top: 0;
    right:175;
 }

 #computer-choice {
   height: 160px;
   width: 160px;
   margin-left: 16px; 
   margin-top: 16%;
   position: fixed;
   top: 0;
   right:175;
}